*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(241,245,248);
  font-family: 'Montserrat', sans-serif;
}
.form{
  padding: 60px;
  text-align: center;
}
.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 180px;
}
